<form method="POST" action="/sessions/new">
<input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
Email: <input type="text" name="Email">
<br>
Password: <input type="text" name="Password">
<br>
<input type="submit" value="Log In">
</form>
